@font-face {
  font-family: 'Segoe WP';
  src: url('SegoeWP.eot'); /* IE9 Compat Modes */
  src: url('SegoeWP.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SegoeWP.woff') format('woff'), /* Modern Browsers */
       url('SegoeWP.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SegoeWP.svg#svgSegoeWP') format('svg'); /* Legacy iOS */
}
body {font-family: 'Segoe WP', sans-serif;
      background-color: rgb(50, 50, 50);
      color: white;
      padding-left: 10px;
      text-align: center;
}

a {
  color: rgb(51, 105, 185);
}

a:hover {
  color: cadetblue;
}

a:visited {
  color: royalblue
}

a:visited:hover {
  color: cadetblue;
}

h1 {
  font-size: 60px;
}

button {font-family: 'Segoe WP', sans-serif;}
button:hover {background-color:rgb(50, 50, 50); color: white };