@import url(//db.onlinewebfonts.com/c/88c7cb10b703e0d8910b82df15e0cde5?family=Segoe+WP);
body {font-family: 'Segoe WP', sans-serif;
      background-color: black;
      color: white;
}
h1 {
  font-size: 60px;
}
