@font-face {
  font-family: 'Segoe WP';
  src: url('SegoeWP.eot'); /* IE9 Compat Modes */
  src: url('SegoeWP.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SegoeWP.woff') format('woff'), /* Modern Browsers */
       url('SegoeWP.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SegoeWP.svg#svgSegoeWP') format('svg'); /* Legacy iOS */
}
body {font-family: 'Segoe WP', sans-serif;
      background-color: black;
      color: white;
}
h1 {
  font-size: 60px;
}

/* You're welcome, Alex. */

a {
  color: white;
  opacity: 0.9;
}
